* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html ,body {
    height: 100%;
}

.slider {
    background-color: rgb(16, 47, 47);
    max-width: 80%;
    margin: 20px auto;
}

#card {
    display: flex;
    padding: 20px;
    max-width: 60%;
    height: auto;
    align-items: center;
    justify-content: center;
    z-index: 999;
    transition: 1s;
}

#caption {
    font-size: 20px;
    color: white;
    display: flex;
    padding-left: 20px;
    padding-bottom: 20px;
}

.btn img {
    width: 40px;
    height: 40px;

}

.btn {
    position: fixed;
    right: 20%;
    top: 20%;

    background-color: rgb(57, 57, 160);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 999;
    transition: 1s;
}

.btn:hover {
    width: 50px;
    height: 50px;
    transition: 1s;
}

@media (min-width: 100px) and (max-width:500px) {
    
    
}